/* ========== Configuração de Fontes Globais ========== */ 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

/* ========== Variáveis Globais de Estilo ========== */
:root {
    /* Paleta de cores */
    --color-body-bg: #f6d7b0;
    --color-text: #000;
    --color-header-bg: #d05c41;
    --color-header-text: #000;
    --color-products-bg: #d7a26f;
    --color-add-product-bg: #f3e0c7;
    --color-add-product-houver-text-bg: #fff;
    --color-button-bg: #F4D35E;
    --color-button-hover-bg: #BC6C25;
    --color-footer-bg: #d05c41;
    --color-add-product-section: #000;
    --color-input-border: #ced4da;
    --color-focus-border: #007bff;
    --color-placeholder: #aaa;
}

/* ========== Estilo Geral do Corpo ========== */
body {
    font-family: 'Dancing Script', cursive;
    background-color: var(--color-body-bg);
    color: var(--color-text);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== Estilo do Cabeçalho ========== */
header {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* ========== Layout Principal ========== */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

/* Ícone de configurações */
.edit-button {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons #cancel-edit {
    background-color: #f44336;
    color: white;
}

.modal-buttons #save-edit {
    background-color: #4CAF50;
    color: white;
}

/* ========== Seção de Produtos ========== */
.products-section {
    flex: 2;
    background-color: var(--color-products-bg);
    padding: 2rem;
    margin: 30px auto;
    border-radius: 8px;
    text-align: center;
    max-width: 100%;
    overflow: hidden; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-section:not(:last-child) {
    margin-bottom: 10px;
}

.products-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adaptação responsiva */
    gap: 2rem;
    margin-top: 1rem;
    justify-items: center;
}

/* Cartão de produto */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-button-hover-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 250px;
    height: 350px;
    position: relative;
    text-align: left;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

/* Contêiner de icones */
.product-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.product-actions img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-actions img:hover {
    transform: scale(1.2);
}

/* Informações do produto */
.product-info {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    line-height: 1.5;
    gap: 1rem;
}

.product-price {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.product-info p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Ícones */
.product-icons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: auto;
    padding-top: 1rem;
}

.product-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-icons img:hover {
    transform: scale(1.2);
}

/* Editar produto */
#edit-modal .modal-content {
    background-color: #BC6C25;
    font-family: 'Courier New', Courier, monospace;
}

#edit-modal .modal-content h2 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#edit-modal .modal-buttons button {
    color: var(--color-text)
}

#edit-modal .modal-buttons button:hover {
    color: var(--color-add-product-houver-text-bg);
}

/* Botão de remoção */
.remove-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.remove-button img {
    width: 25px;
    height: 25px;
}

/* ========== Seção de Adicionar Produtos ========== */
.add-product-section {
    flex: 1;
    background-color: var(--color-add-product-bg);
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid var(--color-add-product-section);
    margin: 20px auto;
    max-width: 800px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-product-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-text);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
}

.add-product-section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Campos de entrada */
form input,
form textarea {
    width: 90%; 
    padding: 0.5rem; 
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem; 
    border: 1px solid var(--color-input-border);
    border-radius: 8px;
    color: #495057;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: var(--color-focus-border);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Placeholder */
form input::placeholder,
form textarea::placeholder {
    color: var(--color-placeholder);
    font-style: italic;
    font-size: 1.5rem;
}

/* Botão de envio */
form button {
    background: linear-gradient(135deg, var(--color-button-bg), var(--color-button-hover-bg));
    color: var(--color-text);
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

form button:hover {
    background: linear-gradient(135deg, var(--color-button-hover-bg), var(--color-button-bg));
    color: var(--color-add-product-houver-text-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botões alinhados em grupo */
form .button-group {
    display: flex;
    gap: 1rem;
}

form .button-group button {
    flex: 1;
}

/* ========== Rodapé ========== */
footer {
    display: none;
}

/* Layout para Desktop */
@media screen and (min-width: 1023px) {
    main {
        display: flex;
        flex-wrap: space-around;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 3rem 2rem;
    }

    .products-section {
        flex: 2;
        max-width: 60%;
        min-height: 400px;
        padding: 2rem;
        border-radius: 12px;
        background-color: var(--color-products-bg);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .add-product-section {
        flex: 1;
        max-width: 30%;
        padding: 2rem;
        border-radius: 12px;
        background-color: var(--color-add-product-bg);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .products-section,
    .add-product-section {
        margin: 0; 
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    form label,
    form input {
        flex: 1 1 calc(50% - 1rem);
        font-size: 2rem;
    }

    form button {
        flex: 1 1 100%;
    }

    footer {
        width: 100%;
        padding: 1rem 0;
        text-align: center; 
        background-color: var(--color-footer-bg); 
        color: var(--color-footer-text); 
        position: absolute;
        bottom: 0;  

    /* Adaptações gerais */
    body {
        min-height: 100vh; 
        display: flex;
        flex-direction: column; 
    }

    main {
        flex: 1; 
    }
}

@media screen and (max-width: 1023px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .product-section,
    .add-product-section {
        width: 90%;
    }
}

/* Layout para Notebooks e Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Layout principal */
    main {
        display: flex;

        justify-content: center; 
        gap: 2rem; 
    }

    .products-section, 
    .add-product-section {
        width: 100%; 
        max-width: 800px; 
        padding: 1.5rem; 
        margin: 0 auto;
    }

    /* Formulário */
    form {
        flex-direction: column;
        gap: 1rem; 
    }

    form label,
    form input,
    form button {
        width: 100%; 
    }
}

/* Layout para Tablets Menores e Celulares */
@media screen and (max-width: 767px) {
    /* Layout principal usando Grid */
    main {
        display: grid; 
        grid-template-columns: 1fr; /* Uma única coluna */
        grid-auto-rows: auto; /* Linhas com altura baseada no conteúdo */
        gap: 1.5rem; /* Espaço entre as seções */
        justify-content: center; /* Centraliza o conteúdo no eixo principal */
        align-items: center; /* Centraliza o conteúdo no eixo secundário */
        padding: 1rem; /* Espaçamento interno para a página */
    }

    .products-section, 
    .add-product-section {
        width: 95%; /* Largura responsiva */
        padding: 1rem; /* Espaçamento interno */
        margin: 0 auto; /* Centraliza horizontalmente */
        border-radius: 12px; /* Cantos arredondados */
        box-sizing: border-box; /* Inclui padding na largura e altura */
        background-color: #f9f9f9; /* Cor de fundo para melhor visualização */
    }

    /* Ajustando o grid de produtos para 2x2 */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dois itens por linha */
        gap: 1rem; /* Espaço entre os produtos */
        margin-top: 1rem; /* Espaçamento superior */
        justify-items: center; /* Centraliza os itens no grid */
        align-items: start; /* Alinha os itens ao topo */
    }

    .product-card {
        width: 150px; /* Largura fixa para os cartões */
        height: 200px; /* Altura fixa para os cartões */
        padding: 0.75rem; /* Espaçamento interno */
        display: flex; /* Layout flexível para organização interna */
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .product-card img {
        width: 70px; /* Tamanho fixo para as imagens */
        height: 70px;
    }

    .product-info p {
        font-size: 0.9rem; /* Reduzindo tamanho do texto */
        text-align: center; /* Centraliza o texto */
    }

    /* Ajuste para o formulário da seção "Adicionar Produtos" */
    form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem; /* Espaço entre os elementos do formulário */
        width: 100%; 
    }

    form label,
    form input,
    form button {
        width: 100%; 
        font-size: 1rem; /* Texto legível em telas menores */
        padding: 0.5rem; 
        box-sizing: border-box; /* Inclui o padding na largura */
    }

    .remove-button img {
        width: 20px; /* Tamanho reduzido para os botões de remoção */
        height: 20px;
    }
}
